#####################################################################
#   BTT Smart Filament Sensor 2.0
#####################################################################

#[filament_motion_sensor SFS_T0]
#detection_length: 10.00 ; This can be adjusted to your desired level of sensitivity. 10 is a recommended value to prevent flow dropoff false triggers.
#extruder: extruder
#switch_pin: ^PG11
#pause_on_runout: True ; This can be set to false to debug false positives putting the sensor in "monitor mode". The printer will not pause but it will run the runout_gcode below.
#event_delay: 3.0
#pause_delay: 0.5
#runout_gcode:
#    M117 Runout Detected!

[filament_switch_sensor switch_sensor]
switch_pin: ^PG12
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament switch runout
insert_gcode:
  M117 Filament switch inserted

[filament_motion_sensor encoder_sensor]
switch_pin: ^PG13
detection_length: 5 #2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted